@import "tailwindcss";

:root {
  --background: #022c22;
  --foreground: #ecfdf5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #022c22;
    --foreground: #ecfdf5;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Make date/time picker icons white */
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}
